*{
    padding: 0;
    margin: 0;
}
.slides {
    width: 640px;
    height: 320px;
    margin: 30px auto;
    position: relative;
}

.slides .pics .item{
    display: none;
}

.slides .pics .item h3{
    position: absolute;
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: rgba(255, 255, 255, 0.3);
    bottom: 30px;
}

.slides .pics .item.active{
    display: block;
}

.slides .dots{
    list-style: none;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

.slides .dots li {
    float: left;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: 1px solid #fff;
    margin: 10px;
    cursor: pointer;
}

.slides .dots li.active{
    background: #eee;
}

.slides .arrow {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.slides .arrow.left{
    left: 0;
    background: url(../images/arrow-left.png);
}

.slides .arrow.right{
    right: 0;
    background: url(../images/arrow-right.png);
}