*{
  padding: 0;
  margin: 0;
}
header {
  height: 120px;
  background:lightblue;
}
header a {
  display: inline-block;
  width: 120px;
}
.main{
  min-height: 300px;
  background: yellowgreen;
}
footer{
  height:100px;
  background: #ddd;
}