<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        .box {
            width: 200px;
            height: 200px;
            background: lightblue;
        }

        .blank {
            height: 1000px;
            background: #ddd;
        }
    </style>
</head>

<body>

    <div id="app">
        <form action="" @submit.prevent="regHandler">
            username: <input type="text" v-model="username"> <br>
            password: <input type="password" v-model="userpwd"> <br>
            sex: <input type="radio" v-model="usersex" value="男" id="male"> <label for="male">男</label>
            <input type="radio" v-model="usersex" value="女" id="female"> <label for="female">女</label><br>
            likes:
            <p>
                <input type="checkbox" v-model="like" value="music" id="music"> <label for="music">音乐</label>
            </p>
            <p>
                <input type="checkbox" v-model="like" value="reading" id="reading"> <label for="reading">阅读</label>
            </p>
            <p>
                <input type="checkbox" v-model="like" value="sport" id="sport"> <label for="sport">运动</label>
            </p>
            <p>
                <input type="checkbox" v-model="like" value="travel" id="travel"> <label for="travel">旅游</label>
            </p>
            from:
            <select v-model="city">
                <option value="zhengzhou">郑州</option>
                <option value="beijing">北京</option>
                <option value="shanghai">上海</option>
            </select>
            <br>
            desc:
            <textarea cols="30" rows="10" v-model="userdesc"></textarea>
            <br>
            <input type="submit" value="注册"><!-- 注册事件是form表单的所以点击事件绑定在form表单上 -->
            <input type="reset" value="重置">
        </form>
    </div>

    <script src="lib/vue.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                username: '',
                userpwd: '',
                usersex: '',
                like: [],
                city: '',
                userdesc: ''
            },
            methods: {
                regHandler() {
                    console.log(this.username);
                    console.log(this.userpwd);
                    console.log(this.usersex);
                    console.log(this.like);
                    console.log(this.city);
                    console.log(this.userdesc);
                }
            }
        });
    </script>
</body>

</html>