<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
        *{
            padding: 0;
            margin: 0;
        }

        .cates {
            list-style: none;
        }

        .cates li {
            display: inline-block;
            width: 120px;
            background: #999;
            color: #fff;
            line-height: 30px;
            margin-top: 10px;
            margin-right: 2px;
            text-align: center;
        }
    </style>
</head>
<body>
    
    <div id="app">

        <ul class="cates">
            <li v-for="cate in categorys" @click="getList(cate.id)">
                {{cate.catalog}}
            </li>
        </ul>

        <book-list :list="books"></book-list>

        <!-- <book-list :data="infos"></book-list> -->
    </div>

    <template id="list">
        <div>
            <p v-for="b in list">{{b.title}}</p>
        </div>
    </template>

    <script src="lib/vue.js"></script>
    <script src="lib/axios.js"></script>
    <script>
        // 定义一个展示某类书籍列表的组件
        var bookList = {
            template: "#list",
            props: ["list"]
        };

        var app = new Vue({
            el: "#app",
            data: {
                categorys: [],
                books: []
            },
            created() {
                axios.get("./data/categorys.json").then(({data}) => {
                    this.categorys= data.result;
                });
            },
            methods: {
                getList(id) {
                    // console.log(id);
                    axios.get("./data/books.json").then(({data}) => {
                        var arr = data.result.filter(e => {
                            return e.cid == id;
                        });
                        this.books = arr[0].data;
                    });
                }
            },
            components: {
                bookList
            }
        });
    </script>
</body>
</html>